<footer class="footer-wrapper bg-opacity-25 bg-theme footer-layout2">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-3">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <div class="about-logo">
                                <a href="/">
                                    <img src="img/logo-white.svg" class="mh-150px"
                                         alt="DTour"></a>
                            </div>
                            <div class="th-social"><a href="https://www.facebook.com/"><i
                                        class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/"><i
                                        class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/"><i
                                        class="fab fa-linkedin-in"></i></a> <a href="https://www.whatsapp.com/"><i
                                        class="fab fa-whatsapp"></i></a> <a href="https://instagram.com/"><i
                                        class="fab fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-2">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">@Loc["Quick Links"]</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="/">@Loc["Home"]</a></li>
                                <li><a href="/">@Loc["About Us"]</a></li>
                                <li><a href="/policy">@Loc["Policy payment - security"]</a></li>
                                <li><a href="/policy/delivery">@Loc["Policy delivery"]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">@Loc["Get In Touch"]</h3>
                        <div class="th-widget-contact">
                            <div class="info-box_text">
                                <div class="icon"><img src="img/icon/phone.svg" alt="img"></div>
                                <div class="details">
                                    <p><a href="tel:+01234567890" class="info-box_link">+8424 3820
                                            2828</a> @Loc["Ha Noi"]</p>
                                    <p><a href="tel:+09876543210" class="info-box_link">+8428 3820
                                            2525</a> @Loc["Ho Chi Minh"]</p>
                                </div>
                            </div>
                            <div class="info-box_text">
                                <div class="icon"><img src="img/icon/envelope.svg" alt="img"></div>
                                <div class="details">
                                    <p><a href="mailto:contact@dtour.com.vn"
                                          class="info-box_link">contact@dtour.vn</a></p>
                                </div>
                            </div>
                            <div class="info-box_text">
                                <div class="icon"><img src="img/icon/location-dot.svg" alt="img"></div>
                                <div class="details">
                                    <p>Hà Nội: Tầng 4, 28 Tăng Bạt Hổ, Q. Hai Bà Trưng.</p>
                                    <p>TP HCM: Tầng 3, toà nhà Thiên Sơn, 5 Nguyễn Gia Thiều, Quận 3</p>
                                    <p>Đà Nẵng: 497 Điện Biên Phủ, Phường Thanh Khê Đông , Quận Thanh Khê</p>
                                    <p>Sydney: Phòng 1201, Tầng 12, 309 Phố Pitt, Sydney, Úc</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Instagram Post</h3>
                        <div class="sidebar-gallery">
                            <div class="gallery-thumb"><img src="img/widget/gallery_1_1.jpg"
                                                            alt="Gallery Image"> <a target="_blank"
                                                                                    href="https://www.instagram.com/"
                                                                                    class="gallery-btn"><i
                                        class="fab fa-instagram"></i></a></div>
                            <div class="gallery-thumb"><img src="img/widget/gallery_1_2.jpg"
                                                            alt="Gallery Image"> <a target="_blank"
                                                                                    href="https://www.instagram.com/"
                                                                                    class="gallery-btn"><i
                                        class="fab fa-instagram"></i></a></div>
                            <div class="gallery-thumb"><img src="img/widget/gallery_1_3.jpg"
                                                            alt="Gallery Image"> <a target="_blank"
                                                                                    href="https://www.instagram.com/"
                                                                                    class="gallery-btn"><i
                                        class="fab fa-instagram"></i></a></div>
                            <div class="gallery-thumb"><img src="img/widget/gallery_1_4.jpg"
                                                            alt="Gallery Image"> <a target="_blank"
                                                                                    href="https://www.instagram.com/"
                                                                                    class="gallery-btn"><i
                                        class="fab fa-instagram"></i></a></div>
                            <div class="gallery-thumb"><img src="img/widget/gallery_1_5.jpg"
                                                            alt="Gallery Image"> <a target="_blank"
                                                                                    href="https://www.instagram.com/"
                                                                                    class="gallery-btn"><i
                                        class="fab fa-instagram"></i></a></div>
                            <div class="gallery-thumb"><img src="img/widget/gallery_1_6.jpg"
                                                            alt="Gallery Image"> <a target="_blank"
                                                                                    href="https://www.instagram.com/"
                                                                                    class="gallery-btn"><i
                                        class="fab fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <p>Số ĐKKD: <span class="fw-semibold">0106393921</span>.</p>
                    <p>Ngày cấp: 18/12/2013</p>
                    <p>Nơi cấp: Phòng đăng ký kinh doanh – Sở Kế hoạch và đầu tư Thành phố Hà Nội</p>
                </div>
                <div class="col-md-5">
                    <p>Giấy phép: <span class="fw-semibold">01-1650/2021/CDLQGVN-GP LHQT</span>.</p>
                    <p>Ngày cấp: 13/3/2025</p>
                    <p>Nơi cấp: Cục Du lịch – Bộ VH TT & DL</p>
                </div>
                <div class="col-md-2">
                    <a href="http://online.gov.vn/Website/chi-tiet-130602">
                        <img
                            class="mw-300px mh-85px" src="img/icon/logoSaleNoti.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6">
                    <p class="copyright-text">@Loc["Copyright"] 2025 <a href="/">DTour</a>.</p>
                </div>
                <div class="col-md-6 text-end d-none d-md-block">
                    <div class="footer-card"><span class="title">@Loc["We Accept"]</span> <img
                            src="img/shape/cards.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>