@page "/agent/currency"

@attribute [Authorize(Roles = $"{RoleConstants.AccountingRole}")]
<PageTitle>Currency</PageTitle>
<SectionContent SectionName="@NavConstants.TbLeft">
    <Breadcrumb Slash="true"></Breadcrumb>
    <Breadcrumb TextMuted="true">Currency</Breadcrumb>
</SectionContent>
<SectionContent SectionName="@NavConstants.TbRight">
    <button class="btn btm-sm btn-custom align-self-center" @onclick="() => FormAction(new CurrencyDto(), 0)">
        <i class="fa fa-plus-square"></i>Add new
    </button>
</SectionContent>
@if (IsLoading)
{
    <LoadingRotate/>
}
<Card Title="List of Currency">
    @if (_items == null || IsLoading)
    {
        <Loading/>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-hover table-rounded table-striped border gy-7 gs-7" id="@UiConstants.TableId">
                <thead>
                <tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                    <th>Action</th>
                    <th>Code</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in _items)
                {
                    <tr>
                        <td>
                            <button @key="Guid.NewGuid()" class="btn btn-sm btn-icon btn-success"
                                    @onclick="@(() => FormAction(item, 1))">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button @key="Guid.NewGuid()" class="btn btn-sm btn-icon btn-danger"
                                    @onclick="@(() => FormAction(item, 2))">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                        <td>@item.Code</td>
                        <td>@item.Name</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
</Card>
<CustomModal Title="@($"{Title} Currency")" OnClickCallback="SaveData">
    <EditForm Model="data" class="form">
        <FluentValidationValidator @ref="_fluentValidationValidator"/>
        <div class="row mb-7">
            <label class="required">Code</label>
            <InputText type="text" @bind-Value="@data!.Code" class="form-control maxlength" maxlength="3"/>
            <ValidationMessage For="@(() => data.Code)"/>
        </div>
        <div class="row mb-7">
            <label class="required">Name</label>
            <InputText type="text" @bind-Value="@data.Name" class="form-control maxlength" maxlength="255"/>
            <ValidationMessage For="@(() => data.Name)"/>
        </div>
    </EditForm>
</CustomModal>

@code {
    private List<CurrencyDto>? _items;
    private CurrencyDto? data = new();
    private int iAction { get; set; } = 0;
    private string Title { get; set; } = "Add new";
    private FluentValidationValidator _fluentValidationValidator = default!;

    protected override async Task OnInitializedAsync()
    {
        _items = await _httpService.GetAsync<List<CurrencyDto>>($"{ShareEndpoints.Currency}");
        InitDataTable = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (InitDataTable)
        {
            InitDataTable = false;
            await CallInitialDataTable();
        }
    }

    private async Task FormAction(CurrencyDto item, int action)
    {
        data = new CurrencyDto();
        item.Adapt(data);
        iAction = action;
        Title = action switch
        {
            1 => "Edit",
            2 => "Delete",
            _ => "Add new"
        };
        await ToggleModal();
        await SetMaxLength();
    }

    private async Task SaveData()
    {
        var isValid = _fluentValidationValidator.Validate(o => o.IncludeAllRuleSets());
        if (!isValid) return;
        IsLoading = true;
        StateHasChanged();
        var result = new ResultClient<Guid>();
        switch (iAction)
        {
            case 2:
                if (data != null)
                {
                    result = await _httpService.DeleteAsync<ResultClient<Guid>>($"{ShareEndpoints.Currency}/{data.Id}");
                    if (result.Succeeded)
                    {
                        _items?.Remove(data);
                    }
                }

                break;
            default:
                result = await _httpService.PostAsync<ResultClient<Guid>>(ShareEndpoints.Currency, new AddEditDataRequest<CurrencyDto>()
                {
                    Data = data!,
                    Action = iAction == 0 ? ActionCommandType.Add : ActionCommandType.Edit,
                });
                if (result.Succeeded)
                {
                    if (iAction == 0)
                    {
                        data!.Id = result.Data;
                        _items?.Add(data);
                    }
                    else
                    {
                        var oFind = _items!.FirstOrDefault(w => w.Id == data!.Id);
                        if (oFind != null)
                        {
                            data.Adapt(oFind);
                        }
                    }
                }

                break;
        }

        await ShowAlert(result.Messages[0], result.Succeeded ? 0 : 1);
        IsLoading = false;
        InitDataTable = true;
        StateHasChanged();
        await ToggleModal();
    }

}