<div class="container">
    <div class="row py-10 bg-light">
        <div class="col-md-3 px-5">
            <div class="d-flex flex-column flex-center">
                <img src="img/weAreHere.svg" class="h-9 mb-9" alt=""/>
                <div class="d-flex flex-center mb-5">
                    <span class="badge badge-circle badge-light-success fw-bold p-5 me-3 fs-3">1</span>
                    <div class="fs-5 fs-lg-3 fw-bold text-gray-900">
                        @Loc["Your Tickets Save the World"]
                    </div>
                </div>
                <div class="fw-semibold fs-6 fs-lg-4 text-muted">
                    @Loc["Help us help!"]
                </div>
            </div>
        </div>
        <div class="col-md-3 px-5">
            <div class="d-flex flex-column flex-center">
                <img src="img/weAreHere.svg" class="h-9 mb-9" alt=""/>
                <div class="d-flex flex-center mb-5">
                    <span class="badge badge-circle badge-light-success fw-bold p-5 me-3 fs-3">2</span>
                    <div class="fs-5 fs-lg-3 fw-bold text-gray-900">
                        @Loc["24/7 Customer service"]
                    </div>
                </div>
                <div class="fw-semibold fs-6 fs-lg-4 text-muted">
                    @Loc["In your country, language, time zone"]
                </div>
            </div>
        </div>
        <div class="col-md-3 px-5">
            <div class="d-flex flex-column flex-center">
                <img src="img/smartGuide.svg" class="h-9 mb-9" alt=""/>
                <div class="d-flex flex-center mb-5">
                    <span class="badge badge-circle badge-light-success fw-bold p-5 me-3 fs-3">3</span>
                    <div class="fs-5 fs-lg-3 fw-bold text-gray-900">
                        @Loc["Free Virtual City Guide"]
                    </div>
                </div>
                <div class="fw-semibold fs-6 fs-lg-4 text-muted">
                    +150 @Loc["cities in your hand"]
                </div>
            </div>
        </div>
        <div class="col-md-3 px-5">
            <div class="d-flex flex-column flex-center">
                <img src="img/google-reviews.svg" class="h-9 mb-9" alt=""/>
                <div class="d-flex flex-center mb-5">
                    <span class="badge badge-circle badge-light-success fw-bold p-5 me-3 fs-3">4</span>
                    <div class="fs-5 fs-lg-3 fw-bold text-gray-900">
                        @Loc["4.8 Stars | 10000+ Reviews"]
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <StarComponent IsInput="false" DefaultStar="5"/>
                </div>
            </div>
        </div>
    </div>
</div>
